extends layout

block scripts
  script(src="/socket.io/socket.io.js")
  script
    var socket = io.connect("http://localhost:3000");
    socket.on("test connection", function(err, result) {
      console.log(err);
      console.log(result);
    });

block content
  .row(style="margin-top:2em")
    .span12
      h4 Site Template
      form.form-horizontal(action="/", method="post")
        input(type="hidden", name="csrf", value="csrf")
        .row
          .span12
            .control-group
              label.control-label(for="inputServer") Site Template
              .controls
                input#inputServer(type="text",value="")

        hr
        .row
          .span12